body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url(images/main-back.png) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: 700;
  color: #ff9b9b;
  font-size: 1.5em;
}

.menu a {
  color: rgb(212, 169, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 100;
  text-transform: uppercase;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 212, 212);
}

.content h1 {
  font-size: 6em;
  font-weight: 700;
  margin: 0;
}

.content p {
  font-weight: 100;
  font-size: 1.2em;
  font-style: bold;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.social-links {
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: #dfbdfd; 
  font-size: 1.5rem;
}

.social-icon:hover {
  color: #555;
}

